<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee1" class="com.Test.Employee">
	
	  <constructor-arg name="employeeId" value="321" />
	  <constructor-arg name="employeeName" value="Suraj Kumar" />
	  <constructor-arg name="employeeRole" value="QA Analyst" />
	  <constructor-arg name="employeeSalary" value="98763.24" />
	  
	  </bean>
	  
	  <bean id="employee2" class="com.Test.Employee">
	  
	  <constructor-arg name="employeeId" value="879" />
	  <constructor-arg name="employeeName" value="Bharat" />
	  <constructor-arg name="employeeRole" value="Java Developer" />
	  <constructor-arg name="employeeSalary" value="9083414.67" />
	  
	  </bean>
	  
	  <bean id="employee3" class="com.Test.Employee">
	  
	  <constructor-arg name="employeeId" value="6799" />
	  <constructor-arg name="employeeName" value="Samrudhi" />
	  <constructor-arg name="employeeRole" value="Data Analyst" />
	  <constructor-arg name="employeeSalary" value="87563.87" />
	  
	  
		

	</bean>
</beans>